{% extends 'base.html' %} 
{% block 'head' %} 
{% load static %} 
{% endblock %}
{%block 'titulo' %}
O Vale On-Line - Explore o Vale do Paraíba
{% endblock %} 
{% block 'conteudo' %}
<!--==========================
        BREADCRUMB PART START
    ===========================-->
<div
  id="breadcrumb_part"
  style="background: url({{ estabelecimento.imagens.all.0.img.url }});
  background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 160px"
>
  <div class="bread_overlay" style="height: 160px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center text-white">
          <h4>{{ estabelecimento.nome }}</h4>
          <nav style="--bs-breadcrumb-divider: ''" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"> Home </a></li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ estabelecimento.nome }}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!--==========================
        BREADCRUMB PART END
    ===========================-->

<!--==========================
        LISTING DETAILS START
    ===========================-->
<section id="listing_details">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-7">
        <div class="listing_details_text">
          <div class="listing_det_header">
            <div class="listing_det_header_img">
              <img
                src="{{ estabelecimento.imagens.all.0.img.url }}"
                alt="logo"
                class="img-fluid w-100"
              />
            </div>
            <div class="listing_det_header_text">
              <h6>{{ estabelecimento.nome }}</h6>
              <p class="host_name">
                {{ estabelecimento.rua }}, {{ estabelecimento.numero }}, {{ estabelecimento.bairro }}, {{ estabelecimento.cidade }}
              </p>

              <ul>
                <li>
                  <a href="#"><i class="far fa-check"></i> Verificado</a>
                </li>
                <li>
                  <a href="#"><i class="fal fa-heart"></i> Favoritar</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="listing_det_Photo">
            <div class="row">
              {% for img in estabelecimento.imagens.all %}
              <div class="col-xl-3 col-sm-6">
                <a class="venobox" data-gall="gallery01" href="{{img}}">
                  <img src="{{img}}"/>
                  <div class="photo_overlay">
                    <i class="fal fa-plus"></i>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="listing_det_text" >
            <br/>
            <h5 style="">Descrição</h5>
            <br/>
            <p style="text">{{ estabelecimento.descricao|safe }}</p>
          </div>

          <div class="listing_det_location">
            <iframe
              src="{{ estabelecimento.mapa }}"
              width="1000"
              height="400"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="listing_details_sidebar">
          <div class="row">
            <div class="col-12">
              <div class="listing_det_side_address">
                <a href="{{ estabelecimento.telefone }}"
                  ><i class="fal fa-phone-alt"></i> {{ estabelecimento.telefone }}</a
                >

                <p>
                  <i class="fal fa-map-marker-alt"></i> {{ estabelecimento.cidade }}
                </p>
                <p><i class="fal fa-globe"></i> {{ estabelecimento.site }}</p>
                <ul>
                  <li>
                    <a href="https://wa.me/{{ estabelecimento.whatsapp }} "
                      ><i class="fab fa-whatsapp"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-behance"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12">
              <div class="listing_det_side_open_hour">
                <h5>Vídeo</h5>
                {{ estabelecimento.video }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--==========================
        LISTING DETAILS END
    ===========================-->

{% endblock %}
