{% load static %} 
{% url 'home' as home %}
{% url 'explore' as explore %}
{% url 'about' as about %}
<!--==========================
        MENU PART START
    ===========================-->
    <nav class="navbar navbar-expand-lg main_menu">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}" >
                <img src="{% static 'geral/images/logo.png'%}" alt="DB.Card">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="far fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home %} active {% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == explore %} active {% endif %}" href="{% url 'explore' %}" >Explore o Vale</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == about %} active {% endif %}" href="{% url 'about' %}" >Quem Somos</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dicas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contato</a>
                    </li>
                </ul>
                <a class="user_btn" href="#"><i class="far fa-plus"></i>Adicionar</a>
            </div>
        </div>
    </nav>
    <!--==========================
        MENU PART END
    ===========================-->