<!--==========================
        TOPBAR PART START
    ===========================-->
    <section id="wsus__topbar">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-7 d-none d-md-block">
                    <ul class="wsus__topbar_left">
                        <li><a href="mailto:ola@ovaleonline.com.br"><i class="fal fa-envelope"></i>
                                ola@ovaleonline.com.br/</a></li>
                        <li><a href="https://wa.me/551231994340"><i class="fal fa-phone-alt"></i>+55 (12) 3199-4340</a></li>
                    </ul>
                </div>
                <div class="col-xl-6 col-md-5">
                    <div class="wsus__topbar_right">
                        <a href="sign_in.html"><i class="fas fa-user"></i> Login</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==========================
        TOPBAR PART END
    ===========================-->