{% load static %}
<!--==========================
        BANNER PART START
    ===========================-->
<section
  id="wsus__banner"
  style="background: url({{ banners.img.url }}); 
background-position: center;
background-size: cover;
background-repeat: no-repeat;"
>
  <div class="wsus__banner_overlay">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xl-6 col-lg-7">
          <div class="wsus__banner_text">
            <h1>{{ banners.titulo }}</h1>
            <p>{{ banners.texto }}</p>
          </div>
        </div>

        <div class="col-xl-5 col-lg-5">
          <form action="{% url 'explore' %}" method="GET">
            <h3>Explore o vale!</h3>
            <div class="wsus__search_area">
              <input
                type="text"
                placeholder="Buscar pelo nome do estabelecimento?"
                name="keywords"
              />
            </div>
            <div class="wsus__search_area">
              <select class="select_2" name="categoria">
                <option value="">Selecione a Categoria</option>
                {% for categoria in categorias %}
                <option value="{{categoria.id}}">{{categoria.nome}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="wsus__search_area">
              <select class="select_2" name="cidade">
                <option value="">Selecione a Cidade</option>
                {% for cidade in cidades %}
                <option value="{{cidade.id}}">{{cidade.nome}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="wsus__search_area m-0">
              <input class="read_btn" type="submit" value="BUSCAR" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--==========================
        BANNER PART END
    ===========================-->
